<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-center py-5">
        <div class=" flex-center">

          <!-- Facebook -->
          <a class="socialmedia"  href="https://www.facebook.com/films.shloksheth">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="socialmedia" href="mailto:curatemedia.co@gmail.com">
            <i class="fas fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="socialmedia" href="https://api.whatsapp.com/message/FKHYZFSKOHKID1">
            <i class="fab  fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Instagram-->
          <a class="socialmedia" href="https://www.instagram.com/curate_media/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
<div class="text-center madeby pb-2">Made with ❤ By Anish</div>
  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2021 Copyright:
    <a href="#">curatemedia.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->